<div class="call">
  <div class="call-box-top">
    <div class="call-phone">
      <strong>Assistance in Hong Kong: </strong>{{ site.data.contact.hong_kong_phone }} or <a href="{{ .site.data.contact.whatsapp }}">Whatsapp</a>
    </div>
    <div class="call-phone pb-2">
      <strong>Assistance in Belgium: </strong><a href="{{ .site.data.contact.whatsapp }}">Whatsapp</a>
    </div>
    {% if site.data.contact.email %}
    <div class="call-email"><strong>Email: </strong>
      <a href="mailto:{{ .site.data.contact.email }}">
        {{ site.data.contact.email }}
      </a>
    </div>
    {% endif %}
    {% if site.data.contact.phone %}
        <div class="call-phone"><strong>Phone: </strong> {{ site.data.contact.phone }} </div>
    {% endif %}

  </div>
    {% if include.show_button %}
      <div class="call-box-bottom">
        <a href="{{ site.data.contact.contact_button_link }}" class="button" target="_blank">Contact us</a>
      </div>
    {% endif %}
</div>
