<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-5 col-xl-5">
        <div class="row mb-1">
          <div class="footer-inner">

              <div class="col-12">
                  <h2 class="footer-title">{{site.title}}</h2>
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="sub-footer-inner">
              <p>
                <i>Helping students embark on <br>life-changing journeys in Belgium.</i>
              </p>


                <!--              {% if site.data.social %}-->
<!--              {% include social.html %}-->
<!--              {% endif %}-->
<!--                {% if site.data.seo.copyright_text %}-->
<!--                <div class="copyright">{{ site.data.seo.copyright_text }}</div>-->
<!--                {% endif %}-->
            </div>
          </div>

<!--          <ul>-->
<!--            {% assign footermenu = site.data.menus.footer | sort: 'weight'  %}-->
<!--            {% for item in footermenu %}-->
<!--            <li class="{% if item.url == page.url %}active{% endif %}">-->
<!--              <a href="{{ item.url | relative_url }}">{{ item.name }}</a>-->
<!--            </li>-->
<!--            {% endfor %}-->
<!--          </ul>-->
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3 col-xl-3">
        <h4>About us</h4>
        <div class="footer-inner">
          <ul>
            {% assign footermenu = site.data.menus.footer | sort: 'weight'  %}
            {% for item in footermenu %}
            <li class="{% if item.url == page.url %}active{% endif %}">
              <a href="{{ item.url | relative_url }}">{{ item.name }}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-4 col-xl-4">
        <h4>Company</h4>
<!--        <div class="footer-inner">-->
          <p>Edutor Consulting is an initiative by</p>
          <p>BytePact Ltd.<br>
            2504 Universal Trade Centre<br>
            3 Arbuthnot Road, Central, Hong Kong SAR
          </p>
<!--        </div>-->
      </div>
    </div>
  </div>
</div>
