<div class="sub-footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="sub-footer-inner">
          {% if site.data.legal %}
            {% include legal.html %}
          {% endif %}
<!--          {% if site.data.social %}-->
<!--            {% include social.html %}-->
<!--          {% endif %}-->
          {% if site.data.seo.copyright_text %}
          <div class="copyright">{{ site.data.seo.copyright_text }}</div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>