.page-article {
  .article-tags{
    p {
      text-transform: uppercase;
      font-weight: bold;
      color: $secondary;
      letter-spacing: 0.2em;
    }
  }

  .image-caption {
      color: lighten($primary, 30%);
      font-style: italic;
      font-weight: lighter;
      margin-top: 0.5rem;
  }

  .content {
    > p {
      font-size: 16px;

      &:first-of-type {
        font-size: 1.2rem;
        margin-bottom: 3rem;
      }
    }


    blockquote {
      margin-left: 5rem;
      margin-top: 2rem;
      margin-bottom: 2rem;
      border-left: none;
    }

    blockquote:before {
      color: $secondary;
      content: open-quote;
      font-size: 6em;
      line-height: .1em;
      margin-right: 0.25em;
      vertical-align: -0.4em;
      //font-family: Roboto;
    }

    blockquote:after {
      color: $secondary;
      content: close-quote;
      font-size: 6em;
      line-height: .1em;
      //margin-right: 0.25em;
      margin-left: 0.25em;
      vertical-align: -0.6em;
    }

    blockquote p {
      display: inline;
      font-size: 1.4rem;
      font-family: "Montserrat",sans-serif,-apple-system;
      font-weight: bolder;
      font-style: italic;
    }

    .image-left {
      margin-top: 0.5rem;
      padding-right: 1rem;
      @include media-breakpoint-down(xs) {
        margin-top: 4rem;
        min-width: 50%;
        max-width: 300px;
        float: none;
        margin-left: auto;
        margin-right: auto;
        align-self: center;
        display: block;
      }
    }

  }

  .article-image {
    display: none;
    @include media-breakpoint-up(md) {
      display: block;
    }
  }

  .article-image-mobile {
    display: block;
    padding-left: 15px;
    padding-right: 15px;
    @include media-breakpoint-up(md) {
      display: none;
    }
  }
}
