.page-blog {
  .post-title {
    h2 {
      font-size: 1.2rem;
      a {
        color: $primary;
      }
    }
  }
  .post-tags {
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: bold;
    color: $secondary;
  }
}
