@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local(''), url('../fonts/Montserrat-VariableFont_wght.ttf') format('opentype');
	//src: local(''), url('../fonts/playfair-display.woff2') format('woff2');
}
