.tips {
  position: relative;
  background-color: $white-offset;
  border-radius: 4px;
  z-index: 2;
  margin-bottom: 2rem;
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  .tips-box-top {
    //flex: 1 0 auto;
    padding: 20px;
    @include media-breakpoint-up(md) {
    }
  }

}
