---
layout: default
bodyClass: "page-article"
---

<div class="container pb-6 pt-6 pt-md-10 pb-md-10">
  <div class="row">
    <div class="article-header pb-6">
      <div class="article-tags">
        <p>{{ page.tag }}</p>
      </div>
      <h1 class="title">{{ page.title }}</h1>
      <p>Published on {{ page.date | date_to_long_string }}</p>
    </div>
  </div>
  <div class="row justify-content-start">

<!--    {% if page.image %}-->
<!--    -->
<!--    <div class="col-12 col-md-5 col-lg-6 order-1 order-md-2 position-relative">-->
<!--      <img alt={{ page.title }} class="intro-image{% if page.intro_image_absolute %} intro-image-absolute{% endif %}{% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %}" src="{{ page.intro_image | relative_url }}" />-->
<!--    </div>-->
<!--    {% endif %}-->
    <div class="article-image-mobile">
        <img width="100%" src="{{ page.image | relative_url }}"/>
        <p class="image-caption">{{ page.image-caption }}</p>
    </div>

    <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
      <div class="article article-single">
        <div class="content">{{ content }}</div>
      </div>
    </div>
    <div class="article-image col-md-4 col-lg-4">
      <img width="100%" src="{{ page.image | relative_url }}"/>
        <p class="image-caption">{{ page.image-caption }}</p>
    </div>
  </div>
</div>