---
layout: default
bodyClass: "page-blog"
---

<div class="intro">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-md-10 col-lg-8 order-2 order-md-1">
        {{ content }}
      </div>
    </div>
  </div>
</div>

<div class="container pt-3 pb-6">
  <div class="row">
    {% for post in site.blog %}
    <div class="col-12 col-md-6 col-lg-4">
      <div class="post post-summary row mb-4">
        <div class="post-left col-4">
          <div class="post-image">
            <a href="{{ post.url | relative_url }}"><img alt="{{ post.title }}" width="100%" class="img-fluid mb-2" src="{{ post.image | relative_url }}" /></a>
          </div>
        </div>
        <div class="post-right col-8">
          <div class="post-tags">
              {{ post.tag }}
<!--            <a class="post-tag" href="/tags/{{ post.tag }}">{{ post.tag}}</a>-->
          </div>
          <div class="post-title">
            <h2><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
          </div>
          <div class="post-meta">
          </div>
          <div class="post-date">
            <span class="post-date-date">{{ post.date | date_to_string }}</span>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>