---
layout: default
bodyClass: "page-team"
---

<div class="container pb-6 pt-6 pt-md-10 pb-md-10">
  <div class="row justify-content-start">
    <div class="col-12 col-md-8">
      <div class="team team-single">
        <h1 class="title">{{page.title}}</h1>
      </div>
    </div>
  </div>
  <div class="row pt-3">
    <div class="col-12 col-md-8">
      <div class="team team-single">
        {% if page.image %}
        <div class="team-image-large">
          <img width="200" height="200" alt="{{ page.title }}" class="img-fluid mb-2" src="{{ page.image | relative_url }}" />
        </div>
        {% endif %}
        <div class="team-meta">
        {{ content | markdownify }}
        </div>

      </div>
    </div>
  </div>
</div>
